0-segment-finder.json
[{"id":"7b2262d20b5e6cab","type":"group","z":"bac0ac5d.f875f","name":"Segment Finder","style":{"label":true},"nodes":["8a447b9ea46a4967","6786a5199cc9e6ac","9bb532aba3e088d3","dc7b42b8deec7cca","973e04fc2ce81dd0","c60728114f3c8fca","f1137d40fced928d","2d8ca8cc8ea747f6","572c272a67864b89"],"x":1234,"y":39,"w":852,"h":242},{"id":"8a447b9ea46a4967","type":"api-call-service","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"Vacuum Room","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.{{vacuum_name}}","data":"{\t   \"segments\":[segment]\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1620,"y":140,"wires":[["dc7b42b8deec7cca","c60728114f3c8fca"]],"info":"Calls the vacuum for the current segment"},{"id":"6786a5199cc9e6ac","type":"inject","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"Vacuum Name","props":[{"p":"vacuum_name","v":"roborock_maxine","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1350,"y":80,"wires":[["9bb532aba3e088d3"]]},{"id":"9bb532aba3e088d3","type":"function","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"","func":"// Increments the segment for testing. \n// Check the Mi Home app to see which room is being cleaned, if any.\nif (flow.get(\"segment\") >= 30) {\n    flow.set(\"segment\",0)\n}\nif (flow.get(\"segment\")) {\n    msg.segment = flow.get(\"segment\") + 1\n    flow.set(\"segment\",msg.segment)\n} else {\n    msg.segment = 1\n    flow.set(\"segment\",1)\n}\nmsg.payload = \"Checking Segment #\" + msg.segment\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":140,"wires":[["8a447b9ea46a4967"]]},{"id":"dc7b42b8deec7cca","type":"debug","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":200,"wires":[]},{"id":"973e04fc2ce81dd0","type":"api-call-service","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"Pause Vacuum","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"pause","entityId":"vacuum.{{vacuum_name}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1980,"y":140,"wires":[[]],"info":"Pauses the vacuum to give you a chance to check the Mi Home app and prevent unnecessary cleaning.\n\nIf the Map for the vacuum is completely grey, the segment is invalid.\n\nIf one area of the map is colored, that is the segment for that room.\n\nThe vacuum should also say if the segment is unreachable, which likely means it does not exist."},{"id":"c60728114f3c8fca","type":"trigger","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"15","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1810,"y":120,"wires":[["973e04fc2ce81dd0"]],"info":"Delays the payload for 15 seconds. This gives enough time for the Mi Home app to update with what room is being cleaned."},{"id":"f1137d40fced928d","type":"comment","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"","info":"Use this flow to figure out your room segments. It will trigger the vacuum to vacuum every room segment from 1 to 30 and pause the vacuum after 15 seconds for ease of use.  \n\nThe vacuum will either vacuum a room or announce that it cannot reach the room. You should look in y our Mi Home app to see what room it is vacuuming. The target room will be in color, while the other rooms will be greyed out. If the room segment is invalid, the entire map will be grey.\n\nTo speed this process up, you can install the node-red-contrib-miio-roborock palette. Put in your vacuum's information and using the command node and run the get-room-mapping command. It will output all the valid room segments and you can test those to see which rooms they are, checking the Mi Home app to see which room lights up.","x":1550,"y":80,"wires":[]},{"id":"2d8ca8cc8ea747f6","type":"inject","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"Vacuum Name","props":[{"p":"vacuum_name","v":"roborock_maxine","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1350,"y":240,"wires":[["572c272a67864b89"]]},{"id":"572c272a67864b89","type":"miio-roborock-command","z":"bac0ac5d.f875f","d":true,"g":"7b2262d20b5e6cab","name":"","server":"","command_name":"ⓘ Get room mapping","command":"get_room_mapping","commandType":"vacuum_cmd","payload":"payload","payloadType":"msg","coordinates":"","fan_speed":100,"voice_pack":null,"homekit_stop_to_dock":false,"x":1580,"y":240,"wires":[["dc7b42b8deec7cca"]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
