4-select-fan-speed-and-start.json
[{"id":"8b419e95.ee5a8","type":"group","z":"bac0ac5d.f875f","name":"Choose Fan Intensity and Begin Cleaning","style":{"label":true},"nodes":["ab137461.838048","93846717.4be518","f63a6914.8cee98","9b14d54.ca737a8","e82147b2.e40d18","aadeb9f3.e6fc4","59475402.13cc9c","4ad2b8b9.5977c8","2dd605a9.d53afa","69fe16e7.eebf78","7b067f1adb3233ca","1d42246f87c6fd7e"],"x":34,"y":959,"w":1612,"h":162},{"id":"ab137461.838048","type":"change","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Fan Speed 2","rules":[{"t":"set","p":"vacuum_fan_speed","pt":"flow","to":"2","tot":"num"},{"t":"set","p":"vacuum_fan_speed","pt":"msg","to":"Turbo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1080,"wires":[["4ad2b8b9.5977c8"]],"info":"The roborock accepts the fan speed name, so that is passed to the next node. We save the fan speed as a number to determine the modifier when the vacuum finishes."},{"id":"93846717.4be518","type":"change","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Fan Speed 1","rules":[{"t":"set","p":"vacuum_fan_speed","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"vacuum_fan_speed","pt":"msg","to":"Standard","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1040,"wires":[["4ad2b8b9.5977c8"]],"info":"The roborock accepts the fan speed name, so that is passed to the next node. We save the fan speed as a number to determine the modifier when the vacuum finishes."},{"id":"f63a6914.8cee98","type":"change","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Fan Speed 0","rules":[{"t":"set","p":"vacuum_fan_speed","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"vacuum_fan_speed","pt":"msg","to":"Silent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1000,"wires":[["4ad2b8b9.5977c8"]],"info":"The roborock accepts the fan speed name, so that is passed to the next node. We save the fan speed as a number to determine the modifier when the vacuum finishes."},{"id":"9b14d54.ca737a8","type":"link in","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"","links":["a76937fc.7ae76"],"x":75,"y":1040,"wires":[["e82147b2.e40d18"]]},{"id":"e82147b2.e40d18","type":"api-current-state","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Home?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.location_home","state_type":"str","blockInputOverrides":true,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":175,"y":1040,"wires":[["aadeb9f3.e6fc4"],["ab137461.838048"]],"icon":"font-awesome/fa-home","l":false,"info":"\n\nMaximum fan speed if no one is home"},{"id":"aadeb9f3.e6fc4","type":"api-current-state","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Night?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.location_night","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":255,"y":1020,"wires":[["f63a6914.8cee98"],["93846717.4be518"]],"icon":"font-awesome/fa-moon-o","l":false,"info":"Minimum fan speed if it is night. Medium fan speed otherwise"},{"id":"59475402.13cc9c","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Vacuum Room","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.{{vacuum_name}}","data":"{\t   \"segments\":[segment]\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":1000,"wires":[[]]},{"id":"4ad2b8b9.5977c8","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Set Fan Speed","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.{{vacuum_name}}","data":"{\"fan_speed\":vacuum_fan_speed}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":1040,"wires":[["1d42246f87c6fd7e"]]},{"id":"2dd605a9.d53afa","type":"switch","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Segment Set?","property":"segment","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1320,"y":1040,"wires":[["59475402.13cc9c"],["69fe16e7.eebf78"]],"info":"In the rare situation that no segment was called, the vacuum will clean the entire floor. Ideally this should never occur, but there are use cases where it might be necessary, and it is a good backup plan."},{"id":"69fe16e7.eebf78","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Full Clean","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.{{vacuum_name}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":1080,"wires":[[]]},{"id":"7b067f1adb3233ca","type":"comment","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"","info":"This flow sets the fan speed and checks that the segment is valid before calling the vacuum. It uses the input_boolean.location_home and input_boolean.location_night to determine the fan speed. ","x":720,"y":1000,"wires":[]},{"id":"1d42246f87c6fd7e","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Decrease Queue","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"decrement","entityId":"counter.vacuum_{{vacuum_name}}_cleaning_queue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1040,"wires":[["2dd605a9.d53afa"]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
