5-Log-Completed-Cleans.json
[{"id":"9f7bb001.ec971","type":"group","z":"bac0ac5d.f875f","name":"","style":{"label":true},"nodes":["e5a25d69.ee671","c70f7ca0.b38a48","7fd26c52.e7b874","945a771f.7adc38","6f0412ff.685e74","8c8a3fed.de269","6e749c54.21eda4","28ffa82e.ad4a3","e5330da4.c12098","5ecd21f9.bf19c","d3983183.6fb3a8","ad0bfb42.10ae88","8db1b069.4ba0e","3017fcbc.1c8854","30a167b7.d12ee8","2fe2b03.1eb11d","52baef71.611f38","d3b63f2a.92531","988d018.dea53","e6fa080e.7d39d8","23c723e7.fa1104","b0fe41ae.d9f7d","22b19dd8.253b02","57c56100.b58fc","81572144.c567a8","c97fbb68.2db2b8","7775b808.9208b","59c8b3d1.703a0c","a92371cb.68bbc","cc6704620ac63cec"],"x":34,"y":1139,"w":1712,"h":462},{"id":"adc112fc.a6f5a8","type":"subflow","name":"Vacuum Maintenance?","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"ec21f79f.3a25f"}]}],"out":[{"x":1300,"y":80,"wires":[{"id":"82bec98b.bde1b","port":0}]}],"env":[],"meta":{},"color":"#FFCC66","icon":"node-red-contrib-home-assistant-websocket/ha-get-entities.svg","status":{"x":340,"y":220,"wires":[{"id":"82c5e5.f24ed218","port":0}]}},{"id":"ec21f79f.3a25f","type":"ha-get-entities","z":"adc112fc.a6f5a8","name":"","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"vacuum.","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"level","output_results_count":1,"x":195,"y":80,"wires":[["576fe94e.622d7"]],"l":false},{"id":"6d22034d.186684","type":"api-current-state","z":"adc112fc.a6f5a8","name":"Get Mop Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_mop_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"mop_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":555,"y":80,"wires":[["6231621b.2b7b24"]],"icon":"font-awesome/fa-barcode","l":false},{"id":"87fcf871.3826a8","type":"api-current-state","z":"adc112fc.a6f5a8","name":"Get Bin Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_bin_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"bin_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":435,"y":80,"wires":[["975b060c.15433"]],"icon":"font-awesome/fa-trash-o","l":false},{"id":"975b060c.15433","type":"api-current-state","z":"adc112fc.a6f5a8","name":"Get Tank Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_tank_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"tank_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":495,"y":80,"wires":[["6d22034d.186684"]],"icon":"font-awesome/fa-shopping-basket","l":false},{"id":"576fe94e.622d7","type":"change","z":"adc112fc.a6f5a8","name":"Which Vacuum?","rules":[{"t":"set","p":"vacuum_name","pt":"msg","to":"payload.entity_id","tot":"msg"},{"t":"change","p":"vacuum_name","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"},{"t":"move","p":"payload.attributes.friendly_name","pt":"msg","to":"vacuum_friendly_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["87fcf871.3826a8"]]},{"id":"6231621b.2b7b24","type":"function","z":"adc112fc.a6f5a8","name":"","func":"var message = msg.vacuum_friendly_name + \" – \"\nvar maintenance = 0\n\nif (msg.data.new_state.attributes.error) {\n    message = message + msg.data.new_state.attributes.error + \" in \" + flow.get(msg.vacuum_name + \"_room\").replace(/_/g, \" \")\n    maintenance++\n}\n// Log of this vacuum's bin needs emptying\nif (msg.bin_time > 180) {\n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"empty bin (\" + msg.bin_time + \"m)\"\n    maintenance++\n}\n// Log of this vacuum's tank needs refilling\nif (msg.tank_time > 120) {\n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"fill tank (\" + msg.tank_time + \"m)\"\n    maintenance++\n} \n// Log of this vacuum's mop pad needs replacing\nif (msg.mop_time > 180) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace mop (\" + msg.mop_time + \"m)\"\n    maintenance++\n} \nif (msg.payload.attributes.main_brush_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace main brush\"\n    maintenance++\n} \nif (msg.payload.attributes.side_brush_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace side brush\"\n    maintenance++\n} \nif (msg.payload.attributes.filter_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace filter\"\n    maintenance++\n} \nif (msg.payload.attributes.sensor_dirty_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"clean sensors\"\n    maintenance++\n} \n// If any maintenance is necessary, add it the name of the vacuuming \n// and add the whole thing to low priority messages\nif (maintenance > 0) { \n    msg.vacuum_attn = message\n} else {\n    // have to pass something, and \"undefined\" gets removed from the messages\n    msg.vacuum_attn = \"undefined\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":635,"y":80,"wires":[["f34e8cf2.ad6868"]],"icon":"node-red/alert.svg","l":false},{"id":"82c5e5.f24ed218","type":"status","z":"adc112fc.a6f5a8","name":"","scope":null,"x":230,"y":220,"wires":[[]]},{"id":"f34e8cf2.ad6868","type":"join","z":"adc112fc.a6f5a8","name":"","mode":"custom","build":"string","property":"vacuum_attn","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":80,"wires":[["2faf48296f8276a5"]]},{"id":"82bec98b.bde1b","type":"function","z":"adc112fc.a6f5a8","name":"","func":"if (msg.vacuum_attn != \"\") {\n    msg.low_priority += msg.vacuum_attn\n    msg.cleaning_report = msg.vacuum_attn + \"<br />\" + msg.cleaning_report\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":875,"y":80,"wires":[[]],"icon":"node-red/alert.svg","l":false},{"id":"2faf48296f8276a5","type":"change","z":"adc112fc.a6f5a8","name":"","rules":[{"t":"change","p":"vacuum_attn","pt":"msg","from":"undefined","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":80,"wires":[["82bec98b.bde1b"]],"l":false},{"id":"e5a25d69.ee671","type":"server-state-changed","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Vacuum Returning","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"returning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1200,"wires":[["945a771f.7adc38"],[]],"info":"When the vacuum is returning, we want to log all the data and send it to the next room. "},{"id":"c70f7ca0.b38a48","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Calculate Debris","func":"// Variables\nmsg.new_level = msg.debris_level // Default to not changing the debris level for unsuccessful cleans\nmsg.percent_cleaned = Math.round(msg.cleaned_area / msg.area * 100)\n// Check room size\nif (msg.percent_cleaned > 125) {\n    // Ask user if they want to resize the room.\n    msg.state = \"query-resize\"\n    msg.new_area = msg.cleaned_area    \n} else if (msg.percent_cleaned > 100) {\n    // Room is only slightly bigger, so resize automatically\n     msg.state = \"resize\"\n     msg.new_area = msg.cleaned_area\n} \n\n// As long as soom of the room was cleaned, log debris change\nif (msg.percent_cleaned >= 25) {\n    // Debris is reduced by 0.01 for every 1% of the room cleaned (minimum 25%).\n    // This value is multiplied by fan speed (80% on silent, 100% on standard, 120% on turbo)\n    msg.clean_rate = Number(parseFloat(msg.percent_cleaned * (0.8+0.2*flow.get(\"vacuum_fan_speed\")) / 100).toFixed(2))\n    msg.new_level = Number(parseFloat(Math.max(msg.debris_level - msg.clean_rate,0)).toFixed(2))\n}   else if ((msg.data.old_state.state == \"cleaning\") || (msg.data.old_state.state == \"paused\")) {\n    // If returned or paused while cleaning and didn't do much, consider room a fail.\n    // Debris level temporarily set to 0 to avoid repeated attempts.\n    msg.new_level = 0\n    msg.state = \"failed\"\n} else {\n    // Cleaned < 25% of room and \n    // cleaning was interrupted due to error. \n    // If it was a pause then return, normal check cycle should be okay.\n    // if it was an error and return, normal check cycle should be okay.\n    // Both are ok because it won't try to clean again immediately and the debris will be set to the same value.\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":1180,"wires":[["28ffa82e.ad4a3","3017fcbc.1c8854"]]},{"id":"7fd26c52.e7b874","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Area","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.debris_{{room}}_area","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"area","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":1180,"wires":[["8db1b069.4ba0e"]]},{"id":"945a771f.7adc38","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Pull variables","func":"// Pull Vacuum name and room\nmsg.vacuum_name = msg.vacuum.replace(\"vacuum.\",\"\")\nmsg.room = flow.get(msg.vacuum_name + \"_room\")\n// Determine cycle type\nif (msg.room.match(/LOGGED$/g)) {\n    // Vacuum \"returning\" a second time between cleaning\n    msg.cycle = \"logged\"\n} else if (msg.room.match(/\\_floor$/g)) {\n    // vacuum cleaned the entire floor\n    msg.cycle = \"floor\"\n    flow.set(msg.vacuum_name + \"_room\",msg.room + \"_LOGGED\")\n} else {\n    // Normal cycle\n    msg.cycle = \"normal\"\n    flow.set(msg.vacuum_name + \"_room\",msg.room + \"_LOGGED\")\n}\n// General Data\n    msg.fan_speed = flow.get(\"vacuum_fan_speed\")\n    msg.cleaned_area = msg.data.new_state.attributes.cleaned_area\n    msg.cleaned_time = msg.data.new_state.attributes.cleaning_time\n    msg.mop_attached = msg.data.new_state.attributes.mop_attached\n    msg.room_friendly = msg.room.charAt(0).toUpperCase() + msg.room.slice(1)\n    msg.room_friendly = msg.room_friendly.replace(/_/g, \" \");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["a92371cb.68bbc"]]},{"id":"6f0412ff.685e74","type":"comment","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Log Bin and Mop Time","info":"","x":170,"y":1300,"wires":[]},{"id":"8c8a3fed.de269","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["6e749c54.21eda4"],"x":1535,"y":1180,"wires":[]},{"id":"6e749c54.21eda4","type":"link in","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["8c8a3fed.de269"],"x":105,"y":1360,"wires":[["2fe2b03.1eb11d"]]},{"id":"28ffa82e.ad4a3","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Debris","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.debris_{{room}}_level","data":"{\"value\":new_level}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":1180,"wires":[["8c8a3fed.de269"]]},{"id":"e5330da4.c12098","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Calculate","func":"if (msg.mop_attached) {\n    msg.mop_time += Number(msg.cleaned_time)\n    msg.tank_time += Number(msg.cleaned_time)\n}\nmsg.bin_time += Number(msg.cleaned_time)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1360,"wires":[["5ecd21f9.bf19c"]]},{"id":"5ecd21f9.bf19c","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Bin Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"configure","entityId":"counter.{{vacuum_name}}_bin_time","data":"{\"value\":bin_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1360,"wires":[["d3983183.6fb3a8"]]},{"id":"d3983183.6fb3a8","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Mop Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"configure","entityId":"counter.{{vacuum_name}}_mop_time","data":"{\"value\":mop_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1360,"wires":[["ad0bfb42.10ae88"]]},{"id":"ad0bfb42.10ae88","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Tank Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"configure","entityId":"counter.{{vacuum_name}}_tank_time","data":"{\"value\":tank_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":1360,"wires":[["e6fa080e.7d39d8","59c8b3d1.703a0c"]]},{"id":"8db1b069.4ba0e","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Debris Level","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.debris_{{room}}_level","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"debris_level","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":1180,"wires":[["c70f7ca0.b38a48"]]},{"id":"3017fcbc.1c8854","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Error Handler","links":["b8c4a42d.a81718"],"x":1400,"y":1260,"wires":[],"l":true},{"id":"30a167b7.d12ee8","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Check Full Clean","links":["713dedbd.32fe14"],"x":810,"y":1280,"wires":[],"l":true},{"id":"2fe2b03.1eb11d","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Bin Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_bin_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"bin_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":1360,"wires":[["52baef71.611f38"]],"icon":"font-awesome/fa-trash-o"},{"id":"52baef71.611f38","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Tank Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_tank_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"tank_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1360,"wires":[["d3b63f2a.92531"]],"icon":"font-awesome/fa-shopping-basket"},{"id":"d3b63f2a.92531","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Mop Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_mop_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"mop_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":1360,"wires":[["e5330da4.c12098"]],"icon":"font-awesome/fa-barcode"},{"id":"988d018.dea53","type":"comment","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Build Cleaning Report","info":"","x":160,"y":1440,"wires":[]},{"id":"e6fa080e.7d39d8","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["23c723e7.fa1104"],"x":1595,"y":1360,"wires":[]},{"id":"23c723e7.fa1104","type":"link in","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["e6fa080e.7d39d8"],"x":115,"y":1560,"wires":[["22b19dd8.253b02"]]},{"id":"b0fe41ae.d9f7d","type":"join","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","mode":"custom","build":"string","property":"cleaning_report","propertyType":"msg","key":"topic","joiner":"<br />","joinerType":"str","accumulate":false,"timeout":"9999999999999999999","count":"9999999999999999999","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":1560,"wires":[["7775b808.9208b"]]},{"id":"22b19dd8.253b02","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","func":"if (msg.state == \"error\") {\n    msg.cleaning_report = msg.room_friendly + \" – \" + \"Could not reach.\"\n} else {\n    msg.cleaning_report = msg.room_friendly + \" – \" + msg.percent_cleaned + \"% cleaned – \" + Math.round(msg.clean_rate*100) + \" points\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":1560,"wires":[["c97fbb68.2db2b8"]]},{"id":"57c56100.b58fc","type":"server-state-changed","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Any location variable changes","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.location_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"flush","propertyType":"msg","value":"","valueType":"entityState"},{"property":"vacuum","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"complete","propertyType":"msg","value":"true","valueType":"str"}],"x":220,"y":1500,"wires":[["c97fbb68.2db2b8"]]},{"id":"81572144.c567a8","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Cleaning Report","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_michael_s_pixel","entityId":"","data":"{\t   \"message\":cleaning_report,\t   \"title\":\"Cleaning Report\",\t   \"data\":{\t       \"tty\":0,\t       \"priority\":\"high\"\t   } \t}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":1560,"wires":[[]]},{"id":"c97fbb68.2db2b8","type":"delay","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","pauseType":"delay","timeout":"24","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":480,"y":1560,"wires":[["b0fe41ae.d9f7d"]]},{"id":"7775b808.9208b","type":"subflow:adc112fc.a6f5a8","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","env":[],"x":820,"y":1560,"wires":[["cc6704620ac63cec"]]},{"id":"59c8b3d1.703a0c","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Return to Beginning","links":["22489e87.8e4dc2"],"x":1620,"y":1320,"wires":[],"l":true},{"id":"a92371cb.68bbc","type":"switch","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","property":"cycle","propertyType":"msg","rules":[{"t":"eq","v":"normal","vt":"str"},{"t":"eq","v":"logged","vt":"str"},{"t":"eq","v":"floor","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1200,"wires":[["7fd26c52.e7b874"],["59c8b3d1.703a0c"],["30a167b7.d12ee8"]]},{"id":"cc6704620ac63cec","type":"switch","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","property":"cleaning_report","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1560,"wires":[["81572144.c567a8"]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
