6-Reset-Counters
[{"id":"3c12af57.92761","type":"group","z":"bac0ac5d.f875f","name":"Reset Maintenance Counters","style":{"label":true},"nodes":["a3bd8d91.a013","ffd26987.257928","ff8a4b3e.43898","b840403c.eedd5","a8ed82e8.63702","813809e.e08b1f8","7a11bf14.915d08","c7ea0c71.630cb8","f32a9d59.50317","759e0fe5.402eb","ab27b48b.c829"],"x":54,"y":3159,"w":1352,"h":202},{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1500,"y":180,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1508,"y":240,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1508,"y":288,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":1300,"y":304,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"notify","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"Pass as msg.title","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"Pass as msg.message","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"icon":"node-red/comment.svg","status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: msg.title,\n            message: msg.message,\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","libs":[],"x":430,"y":80,"wires":[["368c9723.5876f8","347f2535.d3533a"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1360,"y":240,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8","f9e57204.71076"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1168,"y":240,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["d12422.edf063e"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"a9289a5f.5ca3f8","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":1070,"y":180,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"a9289a5f.5ca3f8","version":1,"event_type":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":240,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["56be312b.ae65e8"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"a9289a5f.5ca3f8","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"","entityId":"","data":"","dataType":"json","mergecontext":"callServiceData","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":80,"wires":[["c45fc861.c6cc"]]},{"id":"56be312b.ae65e8","type":"function","z":"6dc0247c.d7210c","name":"","func":"if (msg.title == null) { msg.title = env.get(\"title\") }\nif (msg.message == null) { msg.message = env.get(\"message\") }\nif (msg.action1 == null) { msg.action1 = env.get(\"action1Title\") }\nif (msg.action2 == null) { msg.action2 = env.get(\"action2Title\") }\nif (msg.action3 == null) { msg.action3 = env.get(\"action3Title\") }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["f9e57204.71076"]]},{"id":"d12422.edf063e","type":"change","z":"6dc0247c.d7210c","name":"","rules":[{"t":"set","p":"flush","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["83ad2004.d04d"]]},{"id":"c45fc861.c6cc","type":"delay","z":"6dc0247c.d7210c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":80,"wires":[[]]},{"id":"347f2535.d3533a","type":"debug","z":"6dc0247c.d7210c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"a3bd8d91.a013","type":"change","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Which Vacuum?","rules":[{"t":"set","p":"vacuum_name","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"vacuum_name","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"},{"t":"move","p":"data.new_state.attributes.friendly_name","pt":"msg","to":"vacuum_friendly_name","tot":"msg"},{"t":"change","p":"vacuum_friendly_name","pt":"msg","from":"[Vacuum] Roborock","fromt":"str","to":"","tot":"str"},{"t":"set","p":"error","pt":"msg","to":"data.new_state.attributes.error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":3260,"wires":[["f32a9d59.50317"]]},{"id":"ffd26987.257928","type":"function","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"","func":"var to_return = [null, null, null]\nif ((msg.data.old_state.attributes.error == \"Dust collector missing\") || (msg.data.new_state.attributes.error == \"Dust collector missing\")) {\n    // dust bin was emptied\n    to_return[0] = msg \n}\nif ((msg.data.old_state.attributes.mop_attached == false) || (msg.data.new_state.attributes.mop_attached == false)) {\n    if (msg.mop_time >= 60) {\n        // Check if mop was replaced\n        to_return[1] = msg \n    }\n    if (msg.tank_time > 0) {\n        // consider tank refilled \n        to_return[2] = msg \n    }\n}\nreturn to_return","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":3260,"wires":[["b840403c.eedd5"],["759e0fe5.402eb"],["a8ed82e8.63702"]],"outputLabels":["Reset Bin","Reset Mop","Reset Tank"]},{"id":"ff8a4b3e.43898","type":"server-state-changed","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Vacuum Changes","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum_name","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":3260,"wires":[["a3bd8d91.a013"]]},{"id":"b840403c.eedd5","type":"api-call-service","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Set Bin Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.{{vacuum_name}}_bin_time","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":3200,"wires":[[]]},{"id":"a8ed82e8.63702","type":"api-call-service","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Set Tank Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.{{vacuum_name}}_tank_time","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":3320,"wires":[[]]},{"id":"813809e.e08b1f8","type":"api-call-service","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Set Mop Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.{{vacuum_name}}_mop_time","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":3260,"wires":[[]]},{"id":"7a11bf14.915d08","type":"api-current-state","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Get Mop Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_mop_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"mop_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":635,"y":3260,"wires":[["ffd26987.257928"]],"icon":"font-awesome/fa-barcode","l":false},{"id":"c7ea0c71.630cb8","type":"api-current-state","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Get Tank Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_tank_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"tank_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":575,"y":3260,"wires":[["7a11bf14.915d08"]],"icon":"font-awesome/fa-shopping-basket","l":false},{"id":"f32a9d59.50317","type":"api-current-state","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Get Bin Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_bin_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"bin_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":515,"y":3260,"wires":[["c7ea0c71.630cb8"]],"icon":"font-awesome/fa-trash-o","l":false},{"id":"759e0fe5.402eb","type":"change","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Notification Setup","rules":[{"t":"set","p":"message","pt":"msg","to":"vacuum_friendly_name&\"'s mop pad replaced?\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":855,"y":3260,"wires":[["ab27b48b.c829"]],"l":false},{"id":"ab27b48b.c829","type":"subflow:6dc0247c.d7210c","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Query Maintenance","env":[{"name":"title","value":"🧹 Vacuum Notice","type":"str"},{"name":"message","value":"","type":"str"},{"name":"action1Title","value":"Mop Replaced","type":"str"},{"name":"group","value":"","type":"str"}],"x":1020,"y":3260,"wires":[["813809e.e08b1f8"],[],[],[]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
