All-necessary-flows.json
[{"id":"3c12af57.92761","type":"group","z":"bac0ac5d.f875f","name":"Reset Maintenance Counters","style":{"label":true},"nodes":["a3bd8d91.a013","ffd26987.257928","ff8a4b3e.43898","b840403c.eedd5","a8ed82e8.63702","813809e.e08b1f8","7a11bf14.915d08","c7ea0c71.630cb8","f32a9d59.50317","759e0fe5.402eb","ab27b48b.c829"],"x":54,"y":3159,"w":1352,"h":202},{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1500,"y":180,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1508,"y":240,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1508,"y":288,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":1300,"y":304,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"notify","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"Pass as msg.title","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"Pass as msg.message","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"icon":"node-red/comment.svg","status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: msg.title,\n            message: msg.message,\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","libs":[],"x":430,"y":80,"wires":[["368c9723.5876f8","347f2535.d3533a"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1360,"y":240,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8","f9e57204.71076"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1168,"y":240,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["d12422.edf063e"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"a9289a5f.5ca3f8","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":1070,"y":180,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"a9289a5f.5ca3f8","version":1,"event_type":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":240,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["56be312b.ae65e8"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"a9289a5f.5ca3f8","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"","entityId":"","data":"","dataType":"json","mergecontext":"callServiceData","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":80,"wires":[["c45fc861.c6cc"]]},{"id":"56be312b.ae65e8","type":"function","z":"6dc0247c.d7210c","name":"","func":"if (msg.title == null) { msg.title = env.get(\"title\") }\nif (msg.message == null) { msg.message = env.get(\"message\") }\nif (msg.action1 == null) { msg.action1 = env.get(\"action1Title\") }\nif (msg.action2 == null) { msg.action2 = env.get(\"action2Title\") }\nif (msg.action3 == null) { msg.action3 = env.get(\"action3Title\") }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["f9e57204.71076"]]},{"id":"d12422.edf063e","type":"change","z":"6dc0247c.d7210c","name":"","rules":[{"t":"set","p":"flush","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["83ad2004.d04d"]]},{"id":"c45fc861.c6cc","type":"delay","z":"6dc0247c.d7210c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":80,"wires":[[]]},{"id":"347f2535.d3533a","type":"debug","z":"6dc0247c.d7210c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"a3bd8d91.a013","type":"change","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Which Vacuum?","rules":[{"t":"set","p":"vacuum_name","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"vacuum_name","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"},{"t":"move","p":"data.new_state.attributes.friendly_name","pt":"msg","to":"vacuum_friendly_name","tot":"msg"},{"t":"change","p":"vacuum_friendly_name","pt":"msg","from":"[Vacuum] Roborock","fromt":"str","to":"","tot":"str"},{"t":"set","p":"error","pt":"msg","to":"data.new_state.attributes.error","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":3260,"wires":[["f32a9d59.50317"]]},{"id":"ffd26987.257928","type":"function","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"","func":"var to_return = [null, null, null]\nif ((msg.data.old_state.attributes.error == \"Dust collector missing\") || (msg.data.new_state.attributes.error == \"Dust collector missing\")) {\n    // dust bin was emptied\n    to_return[0] = msg \n}\nif ((msg.data.old_state.attributes.mop_attached == false) || (msg.data.new_state.attributes.mop_attached == false)) {\n    if (msg.mop_time >= 60) {\n        // Check if mop was replaced\n        to_return[1] = msg \n    }\n    if (msg.tank_time > 0) {\n        // consider tank refilled \n        to_return[2] = msg \n    }\n}\nreturn to_return","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":3260,"wires":[["b840403c.eedd5"],["759e0fe5.402eb"],["a8ed82e8.63702"]],"outputLabels":["Reset Bin","Reset Mop","Reset Tank"]},{"id":"ff8a4b3e.43898","type":"server-state-changed","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Vacuum Changes","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum_name","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":3260,"wires":[["a3bd8d91.a013"]]},{"id":"b840403c.eedd5","type":"api-call-service","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Set Bin Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.{{vacuum_name}}_bin_time","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":3200,"wires":[[]]},{"id":"a8ed82e8.63702","type":"api-call-service","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Set Tank Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.{{vacuum_name}}_tank_time","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":3320,"wires":[[]]},{"id":"813809e.e08b1f8","type":"api-call-service","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Set Mop Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.{{vacuum_name}}_mop_time","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":3260,"wires":[[]]},{"id":"7a11bf14.915d08","type":"api-current-state","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Get Mop Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_mop_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"mop_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":635,"y":3260,"wires":[["ffd26987.257928"]],"icon":"font-awesome/fa-barcode","l":false},{"id":"c7ea0c71.630cb8","type":"api-current-state","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Get Tank Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_tank_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"tank_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":575,"y":3260,"wires":[["7a11bf14.915d08"]],"icon":"font-awesome/fa-shopping-basket","l":false},{"id":"f32a9d59.50317","type":"api-current-state","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Get Bin Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_bin_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"bin_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":515,"y":3260,"wires":[["c7ea0c71.630cb8"]],"icon":"font-awesome/fa-trash-o","l":false},{"id":"759e0fe5.402eb","type":"change","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Notification Setup","rules":[{"t":"set","p":"message","pt":"msg","to":"vacuum_friendly_name&\"'s mop pad replaced?\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":855,"y":3260,"wires":[["ab27b48b.c829"]],"l":false},{"id":"ab27b48b.c829","type":"subflow:6dc0247c.d7210c","z":"bac0ac5d.f875f","g":"3c12af57.92761","name":"Query Maintenance","env":[{"name":"title","value":"🧹 Vacuum Notice","type":"str"},{"name":"message","value":"","type":"str"},{"name":"action1Title","value":"Mop Replaced","type":"str"},{"name":"group","value":"","type":"str"}],"x":1020,"y":3260,"wires":[["813809e.e08b1f8"],[],[],[]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"4b60aa44.e41c2c","type":"group","z":"bac0ac5d.f875f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["87e7a387.1407","a4e94ef0.8b6888","cfbeaa43.af6848","b3fbcdbc.1518","aaf89ac3.efda9","5d75373a.34b42","dc871c0e.3233d","a482ce60.2ca058","39c53df9.66805a","f708c053.c0a1a8","1290c17e.f0a84f","3c8aa35c.3670a4","c81cd639.e6949","7ec69b9f.632af4","15dc0870.8fdcc8","b8c4a42d.a81718","9c05ccda.d2b8d","65d8990e.423008","e8869569.9d452","90c5e051.f6082"],"x":34,"y":1619,"w":1072,"h":437},{"id":"87e7a387.1407","type":"delay","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":775,"y":1860,"wires":[["a4e94ef0.8b6888","3a19b769ef778ee8"]],"l":false},{"id":"a4e94ef0.8b6888","type":"api-current-state","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Get Debris Level","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.debris_{{room}}_level","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"debris_level","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":835,"y":1860,"wires":[["cfbeaa43.af6848"]],"l":false},{"id":"cfbeaa43.af6848","type":"function","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Calculate Debris","func":"msg.new_level = Math.min(msg.new_level+msg.debris_level,3)\nmsg.new_level = Number(parseFloat(msg.new_level).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":895,"y":1860,"wires":[["b3fbcdbc.1518"]],"l":false},{"id":"b3fbcdbc.1518","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Reset Debris","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.debris_{{room}}_level","data":"{\"value\":new_level}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":1860,"wires":[[]]},{"id":"aaf89ac3.efda9","type":"change","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"flush","rules":[{"t":"set","p":"flush","pt":"msg","to":"flush","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1660,"wires":[["87e7a387.1407"]]},{"id":"5d75373a.34b42","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Notify","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_michael_s_pixel","entityId":"","data":"{\t   \"title\":\"📈 Room Resized\",\t   \"message\":room_friendly &\" area increase from \"&area&\"m² to \"&new_area&\"m²\",\t   \"data\":{\t       \"tty\":0,\t       \"priority\":\"high\"\t       }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1960,"wires":[["c81cd639.e6949"]]},{"id":"dc871c0e.3233d","type":"subflow:6dc0247c.d7210c","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Query Resize","env":[{"name":"service","value":"mobile_app_michael_s_pixel","type":"str"},{"name":"title","value":"","type":"str"},{"name":"message","value":"","type":"str"},{"name":"action1Title","value":"Resize Area","type":"str"},{"name":"group","value":"","type":"str"},{"name":"icon","value":"🧹","type":"str"}],"x":620,"y":2000,"wires":[["5d75373a.34b42"],[],[],[]]},{"id":"a482ce60.2ca058","type":"change","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"room_friendly &\" area measured \"&new_area&\"m² instead of \"&    area&\"m².\"","tot":"jsonata"},{"t":"set","p":"title","pt":"msg","to":"\"🧹 \"&vacuum_friendly_name&\" Resize Request\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2000,"wires":[["dc871c0e.3233d"]]},{"id":"39c53df9.66805a","type":"subflow:6dc0247c.d7210c","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Alert Failed Room","env":[{"name":"title","value":"🧹 Vacuum Notice","type":"str"},{"name":"message","value":"","type":"str"},{"name":"action1Title","value":"Reset","type":"str"},{"name":"action2Title","value":"Reset & Retry","type":"str"},{"name":"group","value":"","type":"str"},{"name":"icon","value":"🧹","type":"str"}],"x":470,"y":1740,"wires":[["aaf89ac3.efda9"],["aaf89ac3.efda9","3c8aa35c.3670a4"],[],[]]},{"id":"f708c053.c0a1a8","type":"change","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Notification Setup","rules":[{"t":"set","p":"message","pt":"msg","to":"room_friendly & \" could not be reached.\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":1740,"wires":[["39c53df9.66805a"]],"l":false},{"id":"1290c17e.f0a84f","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":true,"service_domain":"counter","service":"increment","entityId":"counter.{{vacuum_name}}_cleaning_queue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":1740,"wires":[[]]},{"id":"3c8aa35c.3670a4","type":"delay","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":775,"y":1740,"wires":[["1290c17e.f0a84f"]],"l":false},{"id":"c81cd639.e6949","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Set Area","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.debris_{{room}}_area","data":"{\"value\":new_area}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":1960,"wires":[[]]},{"id":"7ec69b9f.632af4","type":"ha-zone","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Arrive or Leaving Home","server":"a9289a5f.5ca3f8","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.emily_jennings","person.michael_mcelrath"],"event":"enter_leave","zones":["zone.home"],"x":480,"y":1660,"wires":[["aaf89ac3.efda9"]]},{"id":"15dc0870.8fdcc8","type":"switch","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"error handler","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"failed","vt":"str"},{"t":"eq","v":"resize","vt":"str"},{"t":"eq","v":"query-resize","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":1860,"wires":[["f708c053.c0a1a8","87e7a387.1407"],["5d75373a.34b42"],["a482ce60.2ca058"]]},{"id":"b8c4a42d.a81718","type":"link in","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","links":["3017fcbc.1c8854"],"x":75,"y":1860,"wires":[["15dc0870.8fdcc8"]]},{"id":"9c05ccda.d2b8d","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Query Resize","info":"","x":390,"y":1940,"wires":[]},{"id":"65d8990e.423008","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Failed Room","info":"","x":290,"y":1660,"wires":[]},{"id":"e8869569.9d452","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Auto Resize","info":"","x":670,"y":1920,"wires":[]},{"id":"90c5e051.f6082","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Reset debris to normal later","info":"","x":840,"y":1800,"wires":[]},{"id":"6a16ce33.b2067","type":"group","z":"bac0ac5d.f875f","name":"Full Clean Identifier and Adjuster","style":{"label":true},"nodes":["6d411d34.6146ac","869f057c.22ade","7fea22da.8680c4","d874c5b3.582cd","8178a7f6.0388e8","51076ef9.c417f8","2f6620c0.2f6878","f3ba4a55.4a1408","713dedbd.32fe14","4e3c6afa.f80084","c37b518a.f66be","f6fa0f0a.464e98","7c0a1ed5.8941e8","bc0d111.6d4d6f","3d4ad9bf.eecfbe","ba541a7c.ffa5d8","9e9b29f2.e460f8","a6507928.d3b7","ff8f74ca.9d63d8","c6172794.87e6b","51a43685.69bfa"],"x":54,"y":3419,"w":1192,"h":282},{"id":"6d411d34.6146ac","type":"server-state-changed","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.roborock_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"cleaning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":3500,"wires":[["2f6620c0.2f6878"],[]]},{"id":"869f057c.22ade","type":"change","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","rules":[{"t":"set","p":"vacuum","pt":"msg","to":"data.entity_id","tot":"msg"},{"t":"change","p":"vacuum","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":3500,"wires":[["7fea22da.8680c4"]]},{"id":"7fea22da.8680c4","type":"switch","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","property":"vacuum","propertyType":"msg","rules":[{"t":"eq","v":"roborock_shadow","vt":"str"},{"t":"eq","v":"roborock_maxine","vt":"str"},{"t":"eq","v":"roborock_rose","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":840,"y":3500,"wires":[["d874c5b3.582cd"],["8178a7f6.0388e8"],["51076ef9.c417f8"]]},{"id":"d874c5b3.582cd","type":"change","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","rules":[{"t":"set","p":"roborock_shadow_room","pt":"flow","to":"upper_floor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3460,"wires":[[]]},{"id":"8178a7f6.0388e8","type":"change","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","rules":[{"t":"set","p":"roborock_maxine_room","pt":"flow","to":"main_floor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":3500,"wires":[[]]},{"id":"51076ef9.c417f8","type":"change","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","rules":[{"t":"set","p":"roborock_rose_room","pt":"flow","to":"lower_floor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":3540,"wires":[[]]},{"id":"2f6620c0.2f6878","type":"switch","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Full Clean?","property":"data.new_state.attributes.status","propertyType":"msg","rules":[{"t":"eq","v":"cleaning","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":3500,"wires":[["869f057c.22ade"]]},{"id":"f3ba4a55.4a1408","type":"switch","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"upper_floor","vt":"str"},{"t":"eq","v":"main_floor","vt":"str"},{"t":"eq","v":"lower_floor","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":3620,"wires":[["4e3c6afa.f80084"],["c37b518a.f66be"],["f6fa0f0a.464e98"]]},{"id":"713dedbd.32fe14","type":"link in","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","links":["30a167b7.d12ee8"],"x":95,"y":3620,"wires":[["f3ba4a55.4a1408"]]},{"id":"4e3c6afa.f80084","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Upper Area","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_area$","valueType":"re"},{"property":"entity_id","logic":"in_group","value":"group.debris_area_upper_floor","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"area","output_results_count":1,"x":410,"y":3580,"wires":[["7c0a1ed5.8941e8"]]},{"id":"c37b518a.f66be","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Main Area","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_area$","valueType":"re"},{"property":"entity_id","logic":"in_group","value":"group.debris_area_main_floor","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"level","output_results_count":1,"x":410,"y":3620,"wires":[["7c0a1ed5.8941e8"]]},{"id":"f6fa0f0a.464e98","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Lower Area","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_area$","valueType":"re"},{"property":"entity_id","logic":"in_group","value":"group.debris_area_lower_floor","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"level","output_results_count":1,"x":410,"y":3660,"wires":[["7c0a1ed5.8941e8"]]},{"id":"7c0a1ed5.8941e8","type":"join","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","mode":"custom","build":"array","property":"payload.state","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":535,"y":3620,"wires":[["bc0d111.6d4d6f"]],"l":false},{"id":"bc0d111.6d4d6f","type":"calculator","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","inputMsgField":"payload.state","outputMsgField":"area","operation":"sum","constant":"","round":false,"decimals":0,"x":575,"y":3620,"wires":[["3d4ad9bf.eecfbe"]],"l":false},{"id":"3d4ad9bf.eecfbe","type":"function","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Calculate Debris","func":"var min_area_for_credit = msg.area * 0.25 // at least do a quarter of the room. \nvar max_area_for_credit = msg.area * 1.25 // If the room is bigger than 125%, something is wrong.\nmsg.cleaned_area = msg.data.new_state.attributes.cleaned_area\n//if  (msg.cleaned_area >= max_area_for_credit) {\n//    if (msg.data.new_state.attributes.status == \"docking\") {\n//        // must have been a full clean. Reduce debris for every room.\n//    } \n//} else if (msg.cleaned_area > msg.area) {\n//    // Clutter or furniture was moved. Maybe resize room?\n//}  else\nif (msg.cleaned_area >= min_area_for_credit) {\n    msg.reduce_by = msg.cleaned_area / msg.area * (1+0.25*(flow.get(\"vacuum_fan_speed\")))\n}    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":615,"y":3620,"wires":[["ba541a7c.ffa5d8"]],"l":false},{"id":"ba541a7c.ffa5d8","type":"switch","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"upper_floor","vt":"str"},{"t":"eq","v":"main_floor","vt":"str"},{"t":"eq","v":"lower_floor","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":675,"y":3620,"wires":[["9e9b29f2.e460f8"],["a6507928.d3b7"],["ff8f74ca.9d63d8"]],"l":false},{"id":"9e9b29f2.e460f8","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Upper Debris","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_level$","valueType":"re"},{"property":"entity_id","logic":"in_group","value":"group.debris_level_upper_floor","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"area","output_results_count":1,"x":790,"y":3580,"wires":[["c6172794.87e6b"]]},{"id":"a6507928.d3b7","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Main Debris","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_level$","valueType":"re"},{"property":"entity_id","logic":"in_group","value":"group.debris_level_main_floor","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"level","output_results_count":1,"x":790,"y":3620,"wires":[["c6172794.87e6b"]]},{"id":"ff8f74ca.9d63d8","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Lower Debris","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_level$","valueType":"re"},{"property":"entity_id","logic":"in_group","value":"group.debris_level_lower_floor","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"level","output_results_count":1,"x":790,"y":3660,"wires":[["c6172794.87e6b"]]},{"id":"c6172794.87e6b","type":"function","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Calculate Debris","func":"msg.new_level = Math.max(msg.payload.state - msg.reduce_by,0)\nmsg.new_level = Number(parseFloat(msg.new_level).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":3620,"wires":[["51a43685.69bfa"]]},{"id":"51a43685.69bfa","type":"api-call-service","z":"bac0ac5d.f875f","g":"6a16ce33.b2067","name":"Set Debris","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"{{payload.entity_id}}","data":"{\"value\":new_level}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":3620,"wires":[[]]},{"id":"8b419e95.ee5a8","type":"group","z":"bac0ac5d.f875f","name":"Choose Fan Intensity and Begin Cleaning","style":{"label":true},"nodes":["ab137461.838048","93846717.4be518","f63a6914.8cee98","9b14d54.ca737a8","e82147b2.e40d18","aadeb9f3.e6fc4","59475402.13cc9c","4ad2b8b9.5977c8","2dd605a9.d53afa","69fe16e7.eebf78","7b067f1adb3233ca","1d42246f87c6fd7e"],"x":34,"y":959,"w":1612,"h":162},{"id":"ab137461.838048","type":"change","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Fan Speed 2","rules":[{"t":"set","p":"vacuum_fan_speed","pt":"flow","to":"2","tot":"num"},{"t":"set","p":"vacuum_fan_speed","pt":"msg","to":"Turbo","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1080,"wires":[["4ad2b8b9.5977c8"]],"info":"The roborock accepts the fan speed name, so that is passed to the next node. We save the fan speed as a number to determine the modifier when the vacuum finishes."},{"id":"93846717.4be518","type":"change","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Fan Speed 1","rules":[{"t":"set","p":"vacuum_fan_speed","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"vacuum_fan_speed","pt":"msg","to":"Standard","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1040,"wires":[["4ad2b8b9.5977c8"]],"info":"The roborock accepts the fan speed name, so that is passed to the next node. We save the fan speed as a number to determine the modifier when the vacuum finishes."},{"id":"f63a6914.8cee98","type":"change","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Fan Speed 0","rules":[{"t":"set","p":"vacuum_fan_speed","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"vacuum_fan_speed","pt":"msg","to":"Silent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1000,"wires":[["4ad2b8b9.5977c8"]],"info":"The roborock accepts the fan speed name, so that is passed to the next node. We save the fan speed as a number to determine the modifier when the vacuum finishes."},{"id":"9b14d54.ca737a8","type":"link in","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"","links":["a76937fc.7ae76"],"x":75,"y":1040,"wires":[["e82147b2.e40d18"]]},{"id":"e82147b2.e40d18","type":"api-current-state","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Home?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.location_home","state_type":"str","blockInputOverrides":true,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":175,"y":1040,"wires":[["aadeb9f3.e6fc4"],["ab137461.838048"]],"icon":"font-awesome/fa-home","l":false,"info":"\n\nMaximum fan speed if no one is home"},{"id":"aadeb9f3.e6fc4","type":"api-current-state","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Night?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.location_night","state_type":"str","blockInputOverrides":true,"outputProperties":[],"x":255,"y":1020,"wires":[["f63a6914.8cee98"],["93846717.4be518"]],"icon":"font-awesome/fa-moon-o","l":false,"info":"Minimum fan speed if it is night. Medium fan speed otherwise"},{"id":"59475402.13cc9c","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Vacuum Room","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"xiaomi_miio","service":"vacuum_clean_segment","entityId":"vacuum.{{vacuum_name}}","data":"{\t   \"segments\":[segment]\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1540,"y":1000,"wires":[[]]},{"id":"4ad2b8b9.5977c8","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Set Fan Speed","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.{{vacuum_name}}","data":"{\"fan_speed\":vacuum_fan_speed}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":1040,"wires":[["1d42246f87c6fd7e"]]},{"id":"2dd605a9.d53afa","type":"switch","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Segment Set?","property":"segment","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1320,"y":1040,"wires":[["59475402.13cc9c"],["69fe16e7.eebf78"]],"info":"In the rare situation that no segment was called, the vacuum will clean the entire floor. Ideally this should never occur, but there are use cases where it might be necessary, and it is a good backup plan."},{"id":"69fe16e7.eebf78","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Full Clean","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.{{vacuum_name}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1530,"y":1080,"wires":[[]]},{"id":"7b067f1adb3233ca","type":"comment","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"","info":"This flow sets the fan speed and checks that the segment is valid before calling the vacuum. It uses the input_boolean.location_home and input_boolean.location_night to determine the fan speed. ","x":720,"y":1000,"wires":[]},{"id":"1d42246f87c6fd7e","type":"api-call-service","z":"bac0ac5d.f875f","g":"8b419e95.ee5a8","name":"Decrease Queue","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"decrement","entityId":"counter.vacuum_{{vacuum_name}}_cleaning_queue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1110,"y":1040,"wires":[["2dd605a9.d53afa"]]},{"id":"9f7bb001.ec971","type":"group","z":"bac0ac5d.f875f","name":"","style":{"label":true},"nodes":["e5a25d69.ee671","c70f7ca0.b38a48","7fd26c52.e7b874","945a771f.7adc38","6f0412ff.685e74","8c8a3fed.de269","6e749c54.21eda4","28ffa82e.ad4a3","e5330da4.c12098","5ecd21f9.bf19c","d3983183.6fb3a8","ad0bfb42.10ae88","8db1b069.4ba0e","3017fcbc.1c8854","30a167b7.d12ee8","2fe2b03.1eb11d","52baef71.611f38","d3b63f2a.92531","988d018.dea53","e6fa080e.7d39d8","23c723e7.fa1104","b0fe41ae.d9f7d","22b19dd8.253b02","57c56100.b58fc","81572144.c567a8","c97fbb68.2db2b8","7775b808.9208b","59c8b3d1.703a0c","a92371cb.68bbc","cc6704620ac63cec"],"x":34,"y":1139,"w":1712,"h":462},{"id":"adc112fc.a6f5a8","type":"subflow","name":"Vacuum Maintenance?","info":"","category":"","in":[{"x":100,"y":80,"wires":[{"id":"ec21f79f.3a25f"}]}],"out":[{"x":1300,"y":80,"wires":[{"id":"82bec98b.bde1b","port":0}]}],"env":[],"meta":{},"color":"#FFCC66","icon":"node-red-contrib-home-assistant-websocket/ha-get-entities.svg","status":{"x":340,"y":220,"wires":[{"id":"82c5e5.f24ed218","port":0}]}},{"id":"ec21f79f.3a25f","type":"ha-get-entities","z":"adc112fc.a6f5a8","name":"","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"starts_with","value":"vacuum.","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"level","output_results_count":1,"x":195,"y":80,"wires":[["576fe94e.622d7"]],"l":false},{"id":"6d22034d.186684","type":"api-current-state","z":"adc112fc.a6f5a8","name":"Get Mop Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_mop_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"mop_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":555,"y":80,"wires":[["6231621b.2b7b24"]],"icon":"font-awesome/fa-barcode","l":false},{"id":"87fcf871.3826a8","type":"api-current-state","z":"adc112fc.a6f5a8","name":"Get Bin Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_bin_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"bin_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":435,"y":80,"wires":[["975b060c.15433"]],"icon":"font-awesome/fa-trash-o","l":false},{"id":"975b060c.15433","type":"api-current-state","z":"adc112fc.a6f5a8","name":"Get Tank Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_tank_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"tank_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":495,"y":80,"wires":[["6d22034d.186684"]],"icon":"font-awesome/fa-shopping-basket","l":false},{"id":"576fe94e.622d7","type":"change","z":"adc112fc.a6f5a8","name":"Which Vacuum?","rules":[{"t":"set","p":"vacuum_name","pt":"msg","to":"payload.entity_id","tot":"msg"},{"t":"change","p":"vacuum_name","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"},{"t":"move","p":"payload.attributes.friendly_name","pt":"msg","to":"vacuum_friendly_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["87fcf871.3826a8"]]},{"id":"6231621b.2b7b24","type":"function","z":"adc112fc.a6f5a8","name":"","func":"var message = msg.vacuum_friendly_name + \" – \"\nvar maintenance = 0\n\nif (msg.data.new_state.attributes.error) {\n    message = message + msg.data.new_state.attributes.error + \" in \" + flow.get(msg.vacuum_name + \"_room\").replace(/_/g, \" \")\n    maintenance++\n}\n// Log of this vacuum's bin needs emptying\nif (msg.bin_time > 180) {\n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"empty bin (\" + msg.bin_time + \"m)\"\n    maintenance++\n}\n// Log of this vacuum's tank needs refilling\nif (msg.tank_time > 120) {\n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"fill tank (\" + msg.tank_time + \"m)\"\n    maintenance++\n} \n// Log of this vacuum's mop pad needs replacing\nif (msg.mop_time > 180) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace mop (\" + msg.mop_time + \"m)\"\n    maintenance++\n} \nif (msg.payload.attributes.main_brush_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace main brush\"\n    maintenance++\n} \nif (msg.payload.attributes.side_brush_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace side brush\"\n    maintenance++\n} \nif (msg.payload.attributes.filter_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"replace filter\"\n    maintenance++\n} \nif (msg.payload.attributes.sensor_dirty_left <= 1) { \n    if (maintenance > 0) { \n        message = message + \", \"\n    }\n    message = message + \"clean sensors\"\n    maintenance++\n} \n// If any maintenance is necessary, add it the name of the vacuuming \n// and add the whole thing to low priority messages\nif (maintenance > 0) { \n    msg.vacuum_attn = message\n} else {\n    // have to pass something, and \"undefined\" gets removed from the messages\n    msg.vacuum_attn = \"undefined\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":635,"y":80,"wires":[["f34e8cf2.ad6868"]],"icon":"node-red/alert.svg","l":false},{"id":"82c5e5.f24ed218","type":"status","z":"adc112fc.a6f5a8","name":"","scope":null,"x":230,"y":220,"wires":[[]]},{"id":"f34e8cf2.ad6868","type":"join","z":"adc112fc.a6f5a8","name":"","mode":"custom","build":"string","property":"vacuum_attn","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":80,"wires":[["2faf48296f8276a5"]]},{"id":"82bec98b.bde1b","type":"function","z":"adc112fc.a6f5a8","name":"","func":"if (msg.vacuum_attn != \"\") {\n    msg.low_priority += msg.vacuum_attn\n    msg.cleaning_report = msg.vacuum_attn + \"<br />\" + msg.cleaning_report\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":875,"y":80,"wires":[[]],"icon":"node-red/alert.svg","l":false},{"id":"2faf48296f8276a5","type":"change","z":"adc112fc.a6f5a8","name":"","rules":[{"t":"change","p":"vacuum_attn","pt":"msg","from":"undefined","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":80,"wires":[["82bec98b.bde1b"]],"l":false},{"id":"e5a25d69.ee671","type":"server-state-changed","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Vacuum Returning","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"returning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":1200,"wires":[["945a771f.7adc38"],[]],"info":"When the vacuum is returning, we want to log all the data and send it to the next room. "},{"id":"c70f7ca0.b38a48","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Calculate Debris","func":"// Variables\nmsg.new_level = msg.debris_level // Default to not changing the debris level for unsuccessful cleans\nmsg.percent_cleaned = Math.round(msg.cleaned_area / msg.area * 100)\n// Check room size\nif (msg.percent_cleaned > 125) {\n    // Ask user if they want to resize the room.\n    msg.state = \"query-resize\"\n    msg.new_area = msg.cleaned_area    \n} else if (msg.percent_cleaned > 100) {\n    // Room is only slightly bigger, so resize automatically\n     msg.state = \"resize\"\n     msg.new_area = msg.cleaned_area\n} \n\n// As long as soom of the room was cleaned, log debris change\nif (msg.percent_cleaned >= 25) {\n    // Debris is reduced by 0.01 for every 1% of the room cleaned (minimum 25%).\n    // This value is multiplied by fan speed (80% on silent, 100% on standard, 120% on turbo)\n    msg.clean_rate = Number(parseFloat(msg.percent_cleaned * (0.8+0.2*flow.get(\"vacuum_fan_speed\")) / 100).toFixed(2))\n    msg.new_level = Number(parseFloat(Math.max(msg.debris_level - msg.clean_rate,0)).toFixed(2))\n}   else if ((msg.data.old_state.state == \"cleaning\") || (msg.data.old_state.state == \"paused\")) {\n    // If returned or paused while cleaning and didn't do much, consider room a fail.\n    // Debris level temporarily set to 0 to avoid repeated attempts.\n    msg.new_level = 0\n    msg.state = \"failed\"\n} else {\n    // Cleaned < 25% of room and \n    // cleaning was interrupted due to error. \n    // If it was a pause then return, normal check cycle should be okay.\n    // if it was an error and return, normal check cycle should be okay.\n    // Both are ok because it won't try to clean again immediately and the debris will be set to the same value.\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":1180,"wires":[["28ffa82e.ad4a3","3017fcbc.1c8854"]]},{"id":"7fd26c52.e7b874","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Area","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.debris_{{room}}_area","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"area","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":780,"y":1180,"wires":[["8db1b069.4ba0e"]]},{"id":"945a771f.7adc38","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Pull variables","func":"// Pull Vacuum name and room\nmsg.vacuum_name = msg.vacuum.replace(\"vacuum.\",\"\")\nmsg.room = flow.get(msg.vacuum_name + \"_room\")\n// Determine cycle type\nif (msg.room.match(/LOGGED$/g)) {\n    // Vacuum \"returning\" a second time between cleaning\n    msg.cycle = \"logged\"\n} else if (msg.room.match(/\\_floor$/g)) {\n    // vacuum cleaned the entire floor\n    msg.cycle = \"floor\"\n    flow.set(msg.vacuum_name + \"_room\",msg.room + \"_LOGGED\")\n} else {\n    // Normal cycle\n    msg.cycle = \"normal\"\n    flow.set(msg.vacuum_name + \"_room\",msg.room + \"_LOGGED\")\n}\n// General Data\n    msg.fan_speed = flow.get(\"vacuum_fan_speed\")\n    msg.cleaned_area = msg.data.new_state.attributes.cleaned_area\n    msg.cleaned_time = msg.data.new_state.attributes.cleaning_time\n    msg.mop_attached = msg.data.new_state.attributes.mop_attached\n    msg.room_friendly = msg.room.charAt(0).toUpperCase() + msg.room.slice(1)\n    msg.room_friendly = msg.room_friendly.replace(/_/g, \" \");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["a92371cb.68bbc"]]},{"id":"6f0412ff.685e74","type":"comment","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Log Bin and Mop Time","info":"","x":170,"y":1300,"wires":[]},{"id":"8c8a3fed.de269","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["6e749c54.21eda4"],"x":1535,"y":1180,"wires":[]},{"id":"6e749c54.21eda4","type":"link in","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["8c8a3fed.de269"],"x":105,"y":1360,"wires":[["2fe2b03.1eb11d"]]},{"id":"28ffa82e.ad4a3","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Debris","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.debris_{{room}}_level","data":"{\"value\":new_level}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":1180,"wires":[["8c8a3fed.de269"]]},{"id":"e5330da4.c12098","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Calculate","func":"if (msg.mop_attached) {\n    msg.mop_time += Number(msg.cleaned_time)\n    msg.tank_time += Number(msg.cleaned_time)\n}\nmsg.bin_time += Number(msg.cleaned_time)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1360,"wires":[["5ecd21f9.bf19c"]]},{"id":"5ecd21f9.bf19c","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Bin Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"configure","entityId":"counter.{{vacuum_name}}_bin_time","data":"{\"value\":bin_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1360,"wires":[["d3983183.6fb3a8"]]},{"id":"d3983183.6fb3a8","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Mop Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"configure","entityId":"counter.{{vacuum_name}}_mop_time","data":"{\"value\":mop_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1360,"wires":[["ad0bfb42.10ae88"]]},{"id":"ad0bfb42.10ae88","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Set Tank Time","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"configure","entityId":"counter.{{vacuum_name}}_tank_time","data":"{\"value\":tank_time}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":1360,"wires":[["e6fa080e.7d39d8","59c8b3d1.703a0c"]]},{"id":"8db1b069.4ba0e","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Debris Level","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.debris_{{room}}_level","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"debris_level","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":990,"y":1180,"wires":[["c70f7ca0.b38a48"]]},{"id":"3017fcbc.1c8854","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Error Handler","links":["b8c4a42d.a81718"],"x":1400,"y":1260,"wires":[],"l":true},{"id":"30a167b7.d12ee8","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Check Full Clean","links":["713dedbd.32fe14"],"x":810,"y":1280,"wires":[],"l":true},{"id":"2fe2b03.1eb11d","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Bin Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_bin_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"bin_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":1360,"wires":[["52baef71.611f38"]],"icon":"font-awesome/fa-trash-o"},{"id":"52baef71.611f38","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Tank Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_tank_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"tank_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1360,"wires":[["d3b63f2a.92531"]],"icon":"font-awesome/fa-shopping-basket"},{"id":"d3b63f2a.92531","type":"api-current-state","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Get Mop Time","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.{{vacuum_name}}_mop_time","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"mop_time","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":1360,"wires":[["e5330da4.c12098"]],"icon":"font-awesome/fa-barcode"},{"id":"988d018.dea53","type":"comment","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Build Cleaning Report","info":"","x":160,"y":1440,"wires":[]},{"id":"e6fa080e.7d39d8","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["23c723e7.fa1104"],"x":1595,"y":1360,"wires":[]},{"id":"23c723e7.fa1104","type":"link in","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","links":["e6fa080e.7d39d8"],"x":115,"y":1560,"wires":[["22b19dd8.253b02"]]},{"id":"b0fe41ae.d9f7d","type":"join","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","mode":"custom","build":"string","property":"cleaning_report","propertyType":"msg","key":"topic","joiner":"<br />","joinerType":"str","accumulate":false,"timeout":"9999999999999999999","count":"9999999999999999999","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":1560,"wires":[["7775b808.9208b"]]},{"id":"22b19dd8.253b02","type":"function","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","func":"if (msg.state == \"error\") {\n    msg.cleaning_report = msg.room_friendly + \" – \" + \"Could not reach.\"\n} else {\n    msg.cleaning_report = msg.room_friendly + \" – \" + msg.percent_cleaned + \"% cleaned – \" + Math.round(msg.clean_rate*100) + \" points\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":1560,"wires":[["c97fbb68.2db2b8"]]},{"id":"57c56100.b58fc","type":"server-state-changed","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Any location variable changes","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.location_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"flush","propertyType":"msg","value":"","valueType":"entityState"},{"property":"vacuum","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"complete","propertyType":"msg","value":"true","valueType":"str"}],"x":220,"y":1500,"wires":[["c97fbb68.2db2b8"]]},{"id":"81572144.c567a8","type":"api-call-service","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Cleaning Report","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_michael_s_pixel","entityId":"","data":"{\t   \"message\":cleaning_report,\t   \"title\":\"Cleaning Report\",\t   \"data\":{\t       \"tty\":0,\t       \"priority\":\"high\"\t   } \t}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":1560,"wires":[[]]},{"id":"c97fbb68.2db2b8","type":"delay","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","pauseType":"delay","timeout":"24","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":480,"y":1560,"wires":[["b0fe41ae.d9f7d"]]},{"id":"7775b808.9208b","type":"subflow:adc112fc.a6f5a8","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","env":[],"x":820,"y":1560,"wires":[["cc6704620ac63cec"]]},{"id":"59c8b3d1.703a0c","type":"link out","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"Return to Beginning","links":["22489e87.8e4dc2"],"x":1620,"y":1320,"wires":[],"l":true},{"id":"a92371cb.68bbc","type":"switch","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","property":"cycle","propertyType":"msg","rules":[{"t":"eq","v":"normal","vt":"str"},{"t":"eq","v":"logged","vt":"str"},{"t":"eq","v":"floor","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":1200,"wires":[["7fd26c52.e7b874"],["59c8b3d1.703a0c"],["30a167b7.d12ee8"]]},{"id":"cc6704620ac63cec","type":"switch","z":"bac0ac5d.f875f","g":"9f7bb001.ec971","name":"","property":"cleaning_report","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":1560,"wires":[["81572144.c567a8"]]},{"id":"a48833c0.872e2","type":"group","z":"bac0ac5d.f875f","name":"Find Room with Highest Debris.","style":{"label":true},"nodes":["d4f91b46.4766a","266459ff.512d76","f0b8d6bc.f13a8","a76937fc.7ae76","5676b99.f371248","f1b9c10.fe2624","2b613421.3640d4","2eed7f4b5df9bd9e"],"x":34,"y":719,"w":1282,"h":162},{"id":"d4f91b46.4766a","type":"api-current-state","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"Highest debris","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.debris_{{vacuum_name}}_next_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"maxdebris","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":800,"wires":[["5676b99.f371248"]],"info":"Pull the highest debris value for the area this vacuum can clean. We can reverse engineer this information to determine which room segment it is."},{"id":"266459ff.512d76","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"Any Room","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_level$","valueType":"re"},{"property":"state","logic":"is","value":"maxdebris","valueType":"msg"}],"output_type":"random","output_empty_results":false,"output_location_type":"msg","output_location":"room","output_results_count":1,"x":590,"y":760,"wires":[["2b613421.3640d4"]],"info":"Find the room that matches the highest debris. "},{"id":"f0b8d6bc.f13a8","type":"link in","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"","links":["7d6c1fbb.3e0ea8","8155ceb1.ae44c","284ab485.c77244","5fab1766.230fb8"],"x":75,"y":800,"wires":[["d4f91b46.4766a"]]},{"id":"a76937fc.7ae76","type":"link out","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"","links":["9b14d54.ca737a8"],"x":1275,"y":800,"wires":[]},{"id":"5676b99.f371248","type":"api-current-state","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"Request Queue?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"counter.vacuum_{{vacuum_name}}_cleaning_queue","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":800,"wires":[["266459ff.512d76"],["f1b9c10.fe2624"]],"info":"If the current vacuum was triggered by the queue counter, use the upper path. The upper path allows rooms with less than 1.0 debris to be valid cleaning targets."},{"id":"f1b9c10.fe2624","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"Dirty Rooms","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_level$","valueType":"re"},{"property":"state","logic":"is","value":"maxdebris","valueType":"msg"},{"property":"state","logic":"gte","value":"1.0","valueType":"num"}],"output_type":"random","output_empty_results":false,"output_location_type":"msg","output_location":"room","output_results_count":1,"x":590,"y":840,"wires":[["2b613421.3640d4"]],"info":"Find the room that matches the highest debris, but only if it is above 1.0. If it is less than 1.0 the payload is blocked and the vacuum will not run."},{"id":"2b613421.3640d4","type":"function","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"Room Segments","func":"// Using the name of the  entity from the previous node, text is stripped\n// away until we are left with a simple room name. \nmsg.room = msg.room.entity_id.replace(\"_level\",\"\").replace(\"input_number.debris_\",\"\")\nflow.set(msg.vacuum_name + \"_room\",msg.room)\n\n// Figure out which segment(s). You will need to add the segment numbers manually.\n// See the segment finder flow for information on determining the segments.\nvar segments = {\n    // Upper level - Shadow\n\t\"upper_hall\": 16,\n    \"upper_office\": 17,\n    \"bedroom\": [20,22],\n    \"bathroom\": 21,\n    \"guest_bathroom\": 19,\n    \"guest_room\": 0, // Not defined\n\n    // Main level - Maxine\n    \"foyer\": 17,\n    \"dining_room\": 18,\n    \"living_room\": 21,\n    \"kitchen_bar\": 24,\n    \"kitchen_prep\": 20,\n\n    // Lower level - Rose\n    \"washroom\": 2,\n    \"utility_hall\": 18,\n    \"utility_room\": 20,\n    \"family_room\": 16,\n    \"office\": 17\n};\nmsg.segment = segments[msg.room]\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":800,"wires":[["a76937fc.7ae76"]]},{"id":"2eed7f4b5df9bd9e","type":"comment","z":"bac0ac5d.f875f","g":"a48833c0.872e2","name":"","info":"This section determines which room to vacuum. If it is a request queue, it takes the upper path that does not have a minimum debris requirement. \n\nYou'll need to add your rooms to the room segment function. They should be formatted as they are in the debris entities; all lower case and with underscores instead of spaces such as \"living_room\" or \"dining room\".  Mine are grouped by vacuum.","x":900,"y":760,"wires":[]},{"id":"c43fa7c0.691aa","type":"group","z":"bac0ac5d.f875f","name":"Increase Debris Every Hour","style":{"label":true},"nodes":["d8956151.667c98","6fbc85ce.0a4894","ec1462e7.53271","938e75c5.6b9c58","fdf6a062.9f901","8ab669be.27b42","c5fb6806.7b59d"],"x":54,"y":3039,"w":1352,"h":82},{"id":"d8956151.667c98","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_frequency$","valueType":"re"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"freq","output_results_count":1,"x":330,"y":3080,"wires":[["8ab669be.27b42"]]},{"id":"6fbc85ce.0a4894","type":"change","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"Find Level","rules":[{"t":"change","p":"payload.entity_id","pt":"msg","from":"frequency","fromt":"str","to":"level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3080,"wires":[["ec1462e7.53271"]]},{"id":"ec1462e7.53271","type":"api-current-state","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"Get Debris Level","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{entity_id}}","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"level","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":3080,"wires":[["938e75c5.6b9c58"]]},{"id":"938e75c5.6b9c58","type":"function","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","func":"msg.level = Math.round((msg.level + (msg.freq/7) * 0.04)*100)/100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":3080,"wires":[["fdf6a062.9f901"]]},{"id":"fdf6a062.9f901","type":"api-call-service","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"{{payload.entity_id}}","data":"{\"value\":level}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":3080,"wires":[[]]},{"id":"8ab669be.27b42","type":"api-current-state","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"Get Frequency","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{entity_id}}","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"freq","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":3080,"wires":[["6fbc85ce.0a4894"]]},{"id":"c5fb6806.7b59d","type":"inject","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":3080,"wires":[["d8956151.667c98"]]},{"id":"c926aee6.0eb168","type":"group","z":"bac0ac5d.f875f","name":"Universal Triggers","style":{"label":true},"nodes":["8155ceb1.ae44c","17cdd76f.93fed9","4aa45553.fc6924","bbdd48f6.8dabf","533000bf.71eb4","5b77f6d9.a2302","34fba37f.3a4c8c","2186963b.f26d0a","4885807a.f44188","c0b30b7a.3fce4","22489e87.8e4dc2","9c4a418aa9022708","e8aeb5dac6b74e56","0b6dada762086a98","e4573fe24f0b0a46","c91fe279e00e94d3","de34345dbdf6dbac"],"x":14,"y":19,"w":1172,"h":262},{"id":"8155ceb1.ae44c","type":"link out","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Bypass Checks","links":["f0b8d6bc.f13a8"],"x":1080,"y":240,"wires":[],"l":true},{"id":"17cdd76f.93fed9","type":"api-current-state","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Queued Empty?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is","entity_id":"counter.vacuum_{{vacuum_name}}_cleaning_queue","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":780,"y":140,"wires":[["c0b30b7a.3fce4"],["8155ceb1.ae44c"]],"info":"If there are any room clean requests in the vacuum's queue, bypass the normal flow to trigger the vacuum immediately."},{"id":"4aa45553.fc6924","type":"switch","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"","property":"vacuum_name","propertyType":"msg","rules":[{"t":"eq","v":"roborock_shadow","vt":"str"},{"t":"eq","v":"roborock_maxine","vt":"str"},{"t":"eq","v":"roborock_rose","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1030,"y":140,"wires":[["533000bf.71eb4"],["5b77f6d9.a2302"],["34fba37f.3a4c8c"]]},{"id":"bbdd48f6.8dabf","type":"server-state-changed","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Cleaning Queue","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"counter\\..*_cleaning_queue","entityidfiltertype":"regex","outputinitially":false,"state_type":"num","haltifstate":"1","halt_if_type":"num","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"queue","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum_name","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":120,"wires":[["2186963b.f26d0a"],[]],"info":"Triggers the vacuum to immediately clean the currently dirtiest room, even if it is not above 1.00 debris level. \n\nMultiple queues will cause the vacuum to clean multiple rooms.\n\nWe only want this to trigger a cleaning while the vacuum isn't busy. If there are already items in the queue, the vacuum is busy."},{"id":"533000bf.71eb4","type":"link out","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"","links":["dc37add0.2c4f8"],"x":1135,"y":100,"wires":[]},{"id":"5b77f6d9.a2302","type":"link out","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"","links":["8aa85f65.184808"],"x":1135,"y":140,"wires":[]},{"id":"34fba37f.3a4c8c","type":"link out","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"","links":["1f21bef4.535e81"],"x":1135,"y":180,"wires":[]},{"id":"2186963b.f26d0a","type":"function","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Determine vacuum","func":"// Determines which vacuum is making the check. \n// If it is from the inject cycle, all vacuums are checked.\n\nif (msg.vacuum_name) {\n    // Remove parts from vacuum.[vacuum_name]\n    msg.vacuum_name = msg.vacuum_name.replace(\"vacuum.\",\"\")\n    // Remove parts from counter.[vacuum_name]_cleaning_queue\n    msg.vacuum_name = msg.vacuum_name.replace(\"counter.\",\"\").replace(\"_cleaning_queue\",\"\")\n    // Remove parts from sensor.debris_[vacuum_name]_next_room\n    msg.vacuum_name = msg.vacuum_name.replace(\"sensor.debris_\",\"\").replace(\"_next_room\",\"\")\n    msg.vacuum_name = msg.vacuum_name.replace(\"vacuum_\",\"\")\n} else {\n    // try each vacuum\n    // Change me to your vacuum names! Leave out \"vacuum.\" from the entity name\n    var msg1 = { vacuum_name:\"roborock_shadow\" }; \n    var msg2 = { vacuum_name:\"roborock_maxine\" };\n    var msg3 = { vacuum_name:\"roborock_rose\" };\n    return [ [msg1, msg2, msg3] ];\n} \n// Only \n// If this is from a cleaning queue, only trigger cleaning on the first click.\nif (msg.queue) {\n    if (msg.data.old_state.state == 0) {\n        return msg;\n    } else { \n        return null; \n    }\n} else { return msg; }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["de34345dbdf6dbac"]]},{"id":"4885807a.f44188","type":"inject","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"","props":[{"p":"All_vacuums","v":"true","vt":"bool"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":60,"wires":[["0b6dada762086a98"]],"info":"Check all vacuums every 5 minutes. If a room needs cleaning and the area is available for cleaning, do it!"},{"id":"c0b30b7a.3fce4","type":"api-current-state","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Home?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.location_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":915,"y":140,"wires":[["4aa45553.fc6924"],["8155ceb1.ae44c"]],"icon":"font-awesome/fa-home","l":false,"info":"If this is a location-away trigger, go ahead and clean. Otherwise, check each vacuum for valid cleaning rules"},{"id":"22489e87.8e4dc2","type":"link in","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Returning","links":["59c8b3d1.703a0c"],"x":160,"y":180,"wires":[["2186963b.f26d0a"]],"l":true,"info":"Vacuum should check if it needs to clean another room."},{"id":"9c4a418aa9022708","type":"comment","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Read Me!","info":"Triggers the vacuum cleaning.\n\nThe inject causes the vacuum to check if it needs to run every 5 minutes. The vacuum also automatically checks when it is returning to the dock. These two checks go through the restrictions you set up, such as an area being inactive for a time or everyone being in bed. \n\nFor my routines, I want all of the vacuums to clean if necessary when I leave. I have an input_boolean for tracking if we are home or not. It is set to off when everyone leaves, and this bypasses the normal checks and has the vacuums clean all the rooms that need it.\n\nCleaning queue also bypasses checks. Later in the flow it uses a less restricted method to determine which room to clean.\n\n\n\n### Please check the comments on the function nodes to see if you need to edit them for your devices ###","x":480,"y":80,"wires":[]},{"id":"e8aeb5dac6b74e56","type":"server-state-changed","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Location Away","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.location_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":240,"wires":[["2186963b.f26d0a"],[]],"info":"Bypasses the parameter check to start the vacuum when everyone leaves the house."},{"id":"0b6dada762086a98","type":"api-current-state","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Home?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.location_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":195,"y":60,"wires":[["2186963b.f26d0a"],[]],"icon":"font-awesome/fa-home","l":false,"info":"Prevents the inject from checking room states while the house is empty. This is to prevent pet accidents from being spread by the vacuums."},{"id":"e4573fe24f0b0a46","type":"comment","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Edit this switch","info":"This switch points to each vacuum's parameters for cleaning. Your parameters will be different from mine, so you will have to connect a link-in node to each link-out and adjust the switch to your vacuum names.","x":1020,"y":60,"wires":[]},{"id":"c91fe279e00e94d3","type":"api-current-state","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"Cleaning?","server":"a9289a5f.5ca3f8","version":2,"outputs":2,"halt_if":"cleaning, error","halt_if_type":"str","halt_if_compare":"includes","entity_id":"vacuum.{{vacuum_name}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":610,"y":140,"wires":[[],["17cdd76f.93fed9"]],"info":"Decreasing the cleaning queue causes a new flow to trigger. "},{"id":"de34345dbdf6dbac","type":"delay","z":"bac0ac5d.f875f","g":"c926aee6.0eb168","name":"","pauseType":"rate","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":495,"y":140,"wires":[["c91fe279e00e94d3"]],"l":false,"info":"Gives the vacuum a chance to report its cleaning state so it can potentially ignore changes if it is already cleaning or errored."},{"id":"fe8fbadc2ab139c3","type":"group","z":"bac0ac5d.f875f","name":"Auto return when Idle","style":{"label":true},"nodes":["fcf36b7.baf4098","6329492d.9ddee8","e6273f3b43bfe679","1a3e43bb3074c47e","d7552dfecf6884a3","c9f92877856bd8f7","ec02a183db696f88","16aaf27f8c1ed4ce"],"x":34,"y":2099,"w":1332,"h":202},{"id":"fcf36b7.baf4098","type":"server-state-changed","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"Vacuum cleaning","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"cleaning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum_name","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2200,"wires":[["ec02a183db696f88"],[]]},{"id":"6329492d.9ddee8","type":"api-call-service","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"{{entity_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":2200,"wires":[[]]},{"id":"e6273f3b43bfe679","type":"switch","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","property":"entity_id","propertyType":"msg","rules":[{"t":"eq","v":"vacuum.roborock_shadow","vt":"str"},{"t":"eq","v":"vacuum.roborock_maxine","vt":"str"},{"t":"eq","v":"vacuum.roborock_rose","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":2200,"wires":[["1a3e43bb3074c47e"],["d7552dfecf6884a3"],["c9f92877856bd8f7"]]},{"id":"1a3e43bb3074c47e","type":"ha-wait-until","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":0,"outputs":2,"entityId":"{{entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2140,"wires":[[],["16aaf27f8c1ed4ce"]]},{"id":"d7552dfecf6884a3","type":"ha-wait-until","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":0,"outputs":2,"entityId":"{{entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2200,"wires":[[],["16aaf27f8c1ed4ce"]]},{"id":"c9f92877856bd8f7","type":"ha-wait-until","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":0,"outputs":2,"entityId":"{{entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2260,"wires":[[],["16aaf27f8c1ed4ce"]]},{"id":"ec02a183db696f88","type":"change","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"Which Vacuum?","rules":[{"t":"set","p":"vacuum_name","pt":"msg","to":"vacuum","tot":"msg"},{"t":"change","p":"vacuum_name","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"},{"t":"move","p":"data.new_state.attributes.cleaning_time","pt":"msg","to":"cleaned_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2200,"wires":[["e6273f3b43bfe679"]]},{"id":"16aaf27f8c1ed4ce","type":"api-call-service","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"Decrease Queue","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.vacuum_{{vacuum_name}}_cleaning_queue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":2200,"wires":[["6329492d.9ddee8"]]}]
