Auto-Increase-Debris.json
[{"id":"c43fa7c0.691aa","type":"group","z":"bac0ac5d.f875f","name":"Increase Debris Every Hour","style":{"label":true},"nodes":["d8956151.667c98","6fbc85ce.0a4894","ec1462e7.53271","938e75c5.6b9c58","fdf6a062.9f901","8ab669be.27b42","c5fb6806.7b59d"],"x":54,"y":3039,"w":1352,"h":82},{"id":"d8956151.667c98","type":"ha-get-entities","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","server":"a9289a5f.5ca3f8","version":0,"rules":[{"property":"entity_id","logic":"is","value":"^input_number.debris.*_frequency$","valueType":"re"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"freq","output_results_count":1,"x":330,"y":3080,"wires":[["8ab669be.27b42"]]},{"id":"6fbc85ce.0a4894","type":"change","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"Find Level","rules":[{"t":"change","p":"payload.entity_id","pt":"msg","from":"frequency","fromt":"str","to":"level","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3080,"wires":[["ec1462e7.53271"]]},{"id":"ec1462e7.53271","type":"api-current-state","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"Get Debris Level","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{entity_id}}","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"level","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":3080,"wires":[["938e75c5.6b9c58"]]},{"id":"938e75c5.6b9c58","type":"function","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","func":"msg.level = Math.round((msg.level + (msg.freq/7) * 0.04)*100)/100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":3080,"wires":[["fdf6a062.9f901"]]},{"id":"fdf6a062.9f901","type":"api-call-service","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"{{payload.entity_id}}","data":"{\"value\":level}\t","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":3080,"wires":[[]]},{"id":"8ab669be.27b42","type":"api-current-state","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"Get Frequency","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{entity_id}}","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"freq","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":3080,"wires":[["6fbc85ce.0a4894"]]},{"id":"c5fb6806.7b59d","type":"inject","z":"bac0ac5d.f875f","g":"c43fa7c0.691aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":3080,"wires":[["d8956151.667c98"]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
