Auto-Return-When-Idle.json
[{"id":"fe8fbadc2ab139c3","type":"group","z":"bac0ac5d.f875f","name":"Auto return when Idle","style":{"label":true},"nodes":["fcf36b7.baf4098","6329492d.9ddee8","e6273f3b43bfe679","1a3e43bb3074c47e","d7552dfecf6884a3","c9f92877856bd8f7","ec02a183db696f88","16aaf27f8c1ed4ce"],"x":34,"y":2099,"w":1332,"h":202},{"id":"fcf36b7.baf4098","type":"server-state-changed","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"Vacuum cleaning","server":"a9289a5f.5ca3f8","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"cleaning","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"vacuum_name","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":2200,"wires":[["ec02a183db696f88"],[]]},{"id":"6329492d.9ddee8","type":"api-call-service","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"vacuum","service":"return_to_base","entityId":"{{entity_id}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":2200,"wires":[[]]},{"id":"e6273f3b43bfe679","type":"switch","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","property":"entity_id","propertyType":"msg","rules":[{"t":"eq","v":"vacuum.roborock_shadow","vt":"str"},{"t":"eq","v":"vacuum.roborock_maxine","vt":"str"},{"t":"eq","v":"vacuum.roborock_rose","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":530,"y":2200,"wires":[["1a3e43bb3074c47e"],["d7552dfecf6884a3"],["c9f92877856bd8f7"]]},{"id":"1a3e43bb3074c47e","type":"ha-wait-until","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":0,"outputs":2,"entityId":"{{entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2140,"wires":[[],["16aaf27f8c1ed4ce"]]},{"id":"d7552dfecf6884a3","type":"ha-wait-until","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":0,"outputs":2,"entityId":"{{entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2200,"wires":[[],["16aaf27f8c1ed4ce"]]},{"id":"c9f92877856bd8f7","type":"ha-wait-until","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"","server":"a9289a5f.5ca3f8","version":0,"outputs":2,"entityId":"{{entity_id}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"docked","valueType":"str","timeout":"3","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":700,"y":2260,"wires":[[],["16aaf27f8c1ed4ce"]]},{"id":"ec02a183db696f88","type":"change","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"Which Vacuum?","rules":[{"t":"set","p":"vacuum_name","pt":"msg","to":"vacuum","tot":"msg"},{"t":"change","p":"vacuum_name","pt":"msg","from":"vacuum.","fromt":"str","to":"","tot":"str"},{"t":"move","p":"data.new_state.attributes.cleaning_time","pt":"msg","to":"cleaned_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":2200,"wires":[["e6273f3b43bfe679"]]},{"id":"16aaf27f8c1ed4ce","type":"api-call-service","z":"bac0ac5d.f875f","g":"fe8fbadc2ab139c3","name":"Decrease Queue","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"counter","service":"reset","entityId":"counter.vacuum_{{vacuum_name}}_cleaning_queue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":2200,"wires":[["6329492d.9ddee8"]]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
