Error-Handlers.json
[{"id":"4b60aa44.e41c2c","type":"group","z":"bac0ac5d.f875f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["87e7a387.1407","a4e94ef0.8b6888","cfbeaa43.af6848","b3fbcdbc.1518","aaf89ac3.efda9","5d75373a.34b42","dc871c0e.3233d","a482ce60.2ca058","39c53df9.66805a","f708c053.c0a1a8","1290c17e.f0a84f","3c8aa35c.3670a4","c81cd639.e6949","7ec69b9f.632af4","15dc0870.8fdcc8","b8c4a42d.a81718","9c05ccda.d2b8d","65d8990e.423008","e8869569.9d452","90c5e051.f6082"],"x":34,"y":1619,"w":1072,"h":437},{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1500,"y":180,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1508,"y":240,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1508,"y":288,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":1300,"y":304,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"notify","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"Pass as msg.title","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"Pass as msg.message","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"icon":"node-red/comment.svg","status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"const actions = [];\n[1,2,3].forEach(i => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = env.get(`${name}Title`);\n    const uri = env.get(`${name}Uri`);\n    const action = !!uri.length ? 'URI' : title ? flow.get(`${name}Id`) : undefined;\n    \n    actions.push({\n        action,\n        title,\n        uri\n    });\n});\n\nmsg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            title: msg.title,\n            message: msg.message,\n            data: {\n                tag: flow.get('notificationTag'),\n                actions,\n                color: env.get(\"color\"),\n                group: env.get(\"group\"),\n                sticky: env.get(\"sticky\"),\n                timeout: env.get(\"timeout\"),\n                icon: env.get(\"icon\")\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","libs":[],"x":430,"y":80,"wires":[["368c9723.5876f8","347f2535.d3533a"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1360,"y":240,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8","f9e57204.71076"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1168,"y":240,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["d12422.edf063e"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"a9289a5f.5ca3f8","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":1070,"y":180,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"a9289a5f.5ca3f8","version":1,"event_type":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":960,"y":240,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["56be312b.ae65e8"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"a9289a5f.5ca3f8","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"","entityId":"","data":"","dataType":"json","mergecontext":"callServiceData","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":80,"wires":[["c45fc861.c6cc"]]},{"id":"56be312b.ae65e8","type":"function","z":"6dc0247c.d7210c","name":"","func":"if (msg.title == null) { msg.title = env.get(\"title\") }\nif (msg.message == null) { msg.message = env.get(\"message\") }\nif (msg.action1 == null) { msg.action1 = env.get(\"action1Title\") }\nif (msg.action2 == null) { msg.action2 = env.get(\"action2Title\") }\nif (msg.action3 == null) { msg.action3 = env.get(\"action3Title\") }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":80,"wires":[["f9e57204.71076"]]},{"id":"d12422.edf063e","type":"change","z":"6dc0247c.d7210c","name":"","rules":[{"t":"set","p":"flush","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["83ad2004.d04d"]]},{"id":"c45fc861.c6cc","type":"delay","z":"6dc0247c.d7210c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"days","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":80,"wires":[[]]},{"id":"347f2535.d3533a","type":"debug","z":"6dc0247c.d7210c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"87e7a387.1407","type":"delay","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":775,"y":1860,"wires":[["a4e94ef0.8b6888","3a19b769ef778ee8"]],"l":false},{"id":"a4e94ef0.8b6888","type":"api-current-state","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Get Debris Level","server":"a9289a5f.5ca3f8","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.debris_{{room}}_level","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"debris_level","propertyType":"msg","value":"","valueType":"entityState"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":835,"y":1860,"wires":[["cfbeaa43.af6848"]],"l":false},{"id":"cfbeaa43.af6848","type":"function","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Calculate Debris","func":"msg.new_level = Math.min(msg.new_level+msg.debris_level,3)\nmsg.new_level = Number(parseFloat(msg.new_level).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":895,"y":1860,"wires":[["b3fbcdbc.1518"]],"l":false},{"id":"b3fbcdbc.1518","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Reset Debris","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.debris_{{room}}_level","data":"{\"value\":new_level}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":1860,"wires":[[]]},{"id":"aaf89ac3.efda9","type":"change","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"flush","rules":[{"t":"set","p":"flush","pt":"msg","to":"flush","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1660,"wires":[["87e7a387.1407"]]},{"id":"5d75373a.34b42","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Notify","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_michael_s_pixel","entityId":"","data":"{\t   \"title\":\"📈 Room Resized\",\t   \"message\":room_friendly &\" area increase from \"&area&\"m² to \"&new_area&\"m²\",\t   \"data\":{\t       \"tty\":0,\t       \"priority\":\"high\"\t       }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":1960,"wires":[["c81cd639.e6949"]]},{"id":"dc871c0e.3233d","type":"subflow:6dc0247c.d7210c","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Query Resize","env":[{"name":"service","value":"mobile_app_michael_s_pixel","type":"str"},{"name":"title","value":"","type":"str"},{"name":"message","value":"","type":"str"},{"name":"action1Title","value":"Resize Area","type":"str"},{"name":"group","value":"","type":"str"},{"name":"icon","value":"🧹","type":"str"}],"x":620,"y":2000,"wires":[["5d75373a.34b42"],[],[],[]]},{"id":"a482ce60.2ca058","type":"change","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","rules":[{"t":"set","p":"message","pt":"msg","to":"room_friendly &\" area measured \"&new_area&\"m² instead of \"&    area&\"m².\"","tot":"jsonata"},{"t":"set","p":"title","pt":"msg","to":"\"🧹 \"&vacuum_friendly_name&\" Resize Request\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":2000,"wires":[["dc871c0e.3233d"]]},{"id":"39c53df9.66805a","type":"subflow:6dc0247c.d7210c","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Alert Failed Room","env":[{"name":"title","value":"🧹 Vacuum Notice","type":"str"},{"name":"message","value":"","type":"str"},{"name":"action1Title","value":"Reset","type":"str"},{"name":"action2Title","value":"Reset & Retry","type":"str"},{"name":"group","value":"","type":"str"},{"name":"icon","value":"🧹","type":"str"}],"x":470,"y":1740,"wires":[["aaf89ac3.efda9"],["aaf89ac3.efda9","3c8aa35c.3670a4"],[],[]]},{"id":"f708c053.c0a1a8","type":"change","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Notification Setup","rules":[{"t":"set","p":"message","pt":"msg","to":"room_friendly & \" could not be reached.\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":335,"y":1740,"wires":[["39c53df9.66805a"]],"l":false},{"id":"1290c17e.f0a84f","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","server":"a9289a5f.5ca3f8","version":3,"debugenabled":true,"service_domain":"counter","service":"increment","entityId":"counter.{{vacuum_name}}_cleaning_queue","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":1740,"wires":[[]]},{"id":"3c8aa35c.3670a4","type":"delay","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":775,"y":1740,"wires":[["1290c17e.f0a84f"]],"l":false},{"id":"c81cd639.e6949","type":"api-call-service","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Set Area","server":"a9289a5f.5ca3f8","version":3,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.debris_{{room}}_area","data":"{\"value\":new_area}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":1960,"wires":[[]]},{"id":"7ec69b9f.632af4","type":"ha-zone","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Arrive or Leaving Home","server":"a9289a5f.5ca3f8","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entities":["person.emily_jennings","person.michael_mcelrath"],"event":"enter_leave","zones":["zone.home"],"x":480,"y":1660,"wires":[["aaf89ac3.efda9"]]},{"id":"15dc0870.8fdcc8","type":"switch","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"error handler","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"failed","vt":"str"},{"t":"eq","v":"resize","vt":"str"},{"t":"eq","v":"query-resize","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":1860,"wires":[["f708c053.c0a1a8","87e7a387.1407"],["5d75373a.34b42"],["a482ce60.2ca058"]]},{"id":"b8c4a42d.a81718","type":"link in","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"","links":["3017fcbc.1c8854"],"x":75,"y":1860,"wires":[["15dc0870.8fdcc8"]]},{"id":"9c05ccda.d2b8d","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Query Resize","info":"","x":390,"y":1940,"wires":[]},{"id":"65d8990e.423008","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Failed Room","info":"","x":290,"y":1660,"wires":[]},{"id":"e8869569.9d452","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Auto Resize","info":"","x":670,"y":1920,"wires":[]},{"id":"90c5e051.f6082","type":"comment","z":"bac0ac5d.f875f","g":"4b60aa44.e41c2c","name":"Reset debris to normal later","info":"","x":840,"y":1800,"wires":[]},{"id":"a9289a5f.5ca3f8","type":"server","name":"Aldersgate","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]
